@import 'primeicons/primeicons.css';

body {
  font-family: madefor-text-bold, helveticaneuew01-65medi,
    helveticaneuew02-65medi, helveticaneuew10-65medi, sans-serif;
  padding: 0px !important;
  height: 1000px;
  margin: 0px !important;
  background-color: rgb(19, 19, 19);
  font-family: 'Noto Sans', sans-serif;
}

.main-container {
  height: 100%;
}

.heading {
  text-align: center;
  color: black;
}

main {
  /* margin: 10px; */
  margin-right: 20px;
  padding: 0px;
  padding-left: 7px;
  background-color: rgb(250, 247, 247);
  width: 458px;
  margin: 0px auto;
  box-shadow: 0px 0px 5px -2px grey;
  /* border-radius: 7px; */
  min-height: 100%;
}

.section2 {
  padding: 10px 15px 12px 30px;
}

.pop-up {
  position: fixed;
  top: -18px;
  /* top: 200px; */
  margin: 0px auto;
  width: auto;
  margin-left: 7.5px;
}

.modal1 {
  background-color: #121212;
  height: 100vh;
  position: fixed;
  top: 0px;
  bottom: 0px !important;
  margin: 0 auto;
  width: 465px;
  margin-left: -7px;
  height: 100%;
  color: white;
}

.blue-box {
  /* background-color: rgb(62, 133, 255); */
  /* background-color: rgb(8, 91, 236); */
  background-color: rgb(4, 83, 221);
  width: fit-content;
  border-radius: 16px;
  margin: 20px auto;
  top: 4px;
  padding-bottom: 10px;
  padding-top: 3px;
}

.modal1-closer {
  color: #f2f2f2;
  font-size: 40px;
  margin-left: 5px;
  cursor: pointer;
}

.modal1-body {
  text-align: center;
}

.profile-div {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f7f4fd;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.profile-span {
  color: #6338ea;
  font-size: 22px;
  font-weight: bold;
}
.profile-name {
  color: #e4e4e4;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
}
.profile-ksh {
  margin: 7px 7px;
}
.fee-span {
  color: #a9a9a9;
}

#money-for {
  margin: 0 auto;
  border-radius: 20px;
  width: fit-content;
  border: none;
  background-color: #e4f2fd;
  font-size: 16px;
  font-weight: 600 !important;
  padding: 8px 20px;
  color: #1d72e4;
  outline: none;

  /* -webkit-appearance: none; */
  /* appearance: none; */
}
.option1 {
  color: green;
}

.modal1-center-div {
  position: fixed;
  width: 465px;
  align-items: center;
  /* margin: 0px auto; */
  top: 40%;
}
.success-trans {
  color: #2fc56c;
  font-size: 22px;
  font-weight: 550 !important;
}
.id-trans {
  color: #2fc56c;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 70px;
  background-color: #121b16;
  display: inline;
  padding: 3px 5px;
  border-radius: 20px;
}
.bi-copy {
  margin-left: 5px;
}
.modal1-footer {
  position: fixed;
  bottom: 20px;
}

.modal1-foot-div {
  display: flex;
  gap: 30px;
}

.modal1-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div6 {
  height: 50px;
  width: 50px;
  background-color: white;
  display: inline-block;
  border-radius: 50px;
  margin-bottom: 4px;
  color: grey;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-span {
  display: flex;
  font-size: 13px;
  color: #666666;
  flex-wrap: wrap;
  max-width: 90px;
}

.done {
  background-color: #2bb061;
  color: #feffff;
  padding: 25px 180px;
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
  border-radius: 100px;
  margin-top: 30px;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 12px;
  justify-content: space-between;
}
.true {
  width: 100px;
  padding-top: 10px;
}

.truecaller-box {
}

.truecaller-p {
  font-weight: normal;
  color: white;
  font-size: 20px;
  margin: 0px;
  font-family: Poppins, sans-serif;
}

.true-span {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  letter-spacing: 1px;
}

.close-icon {
  margin-top: 5px;
  margin-right: 5px;
  /* color: rgb(205, 205, 205); */
  color: #a9defb;
  font-size: 30px;
}

.sms-time {
  color: rgb(205, 205, 205);
  font-weight: normal;
  margin: 13px 0px 0px 0px;
}

.sms-time1 {
  /* color: rgb(205, 205, 205); */
  color: #a9defb;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.close-icon {
  height: 30px;
  border: none;
  cursor: pointer;
}

.white-box {
  background-color: white;
  height: 134px;
  width: 418px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 4px 10px 0px;
  padding-left: 12px;
}

.message-box {
  padding-left: 3px;
}

.p1 {
  margin: 0px 0px 0px;
  /* color: rgb(255, 105, 51); */
  /* color: rgba(233, 133, 75, 255); */
  color: #e9854b;
  font-size: 26px;
  font-weight: 550 !important;
  letter-spacing: 0px;
}

.mpesaMessage {
  font-size: 16.5px;
  /* color: rgb(69, 69, 69); */
  color: #62696f;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 6px 2px 0px;
  font-weight: 600;
}

.span3 {
  /* color: rgb(105, 105, 105); */
  color: #696970;
  font-weight: normal;
}
.span4 {
  text-transform: capitalize;
}

.mpesaapp {
  /* margin-left: 12px; */
  margin-top: 10px;
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
}

.mpesa-icon {
  height: 35px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
}

.no-circle-div {
  background-color: #f6d7d4;
  padding-left: 11px;
  margin-top: 0px;
  padding-top: 0px;
  border-radius: 100px;
  padding-bottom: 3px;
  padding-right: 1px;
}
.no-circle {
  font-size: 30px;
  color: #d95045;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: -20px;
  font-weight: lighter;
  height: 40px !important;
}

.grey-box {
  background-color: rgb(236, 245, 254);
  height: 50px;
  width: 430px;
  margin: -1px 10px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.p2 {
  text-align: center;
  align-items: center;
  /* color: rgb(47, 152, 244); */
  /* color: rgb(30, 114, 241); */
  color: #3795e7;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}
.span2 {
  border-right: 1px rgb(190, 190, 190) solid;
  height: 40px;
  margin: 0px 60px;
}

h1 {
  font-size: 19px;
  display: inline-block;
  margin-left: 8px;
  font-weight: normal;
  /* color: rgb(108, 108, 108); */
  color: #7d8086;
}

.div1 {
  /* padding: 20px; */
  margin: auto;
  text-align: center;
}
.div2 {
  text-align: left;
  margin-bottom: 20px;
}

.div3 {
  display: flex;
  text-align: left;
  margin-bottom: 30px;
  align-items: center;
}

input {
  flex-basis: 60%;
  /* background: rgb(223, 233, 251);  */
  background-color: white;
  width: 100%;
  outline: none;
  border: 1px solid grey;
  /* padding-left: 4px; */
  padding: 12px 10px 12px 4px;
  flex-basis: 60%;
  border-radius: 6px;
  font-size: 16px;
}

label {
  flex-basis: 30%;
}

.clearInput {
  margin-left: -15px;
  color: grey;
  cursor: default;
}

.mpesaMessage1-div {
  overflow-y: auto; /* Enable vertical scrolling when needed */
  margin-bottom: 140px;
  background-color: #101417;
}

/* .mpesaMessage1 { */
  /* background-color: #312f32; */
  /* background-color: blue; */
  /* border: none;
  width: 380px;
  padding: 1px 18px;
  font-family: madefor-text-bold,helveticaneuew01-65medi,helveticaneuew02-65medi,helveticaneuew10-65medi,sans-serif;
  font-family: 'Almarai', sans-serif;
  margin-left: 6px;
  font-weight: normal !important;
  color: #e6e1e5;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  border-radius: 23px;
  letter-spacing: 1.2px;
  margin-bottom: 500px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto; 

}  */

.message-card {
  /* background-color: #2d3134;  */
  margin-left: 10px;
  margin-right: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* color: #ffffff; */
  color: lightgrey;
  font-size: 18px;
  margin-bottom: 30px;
}

.message-card-p-content{
  /* color: green !important; */
  background-color: #2d3134;
  border-radius: 25px;
  padding: 12px 18px;
  margin: 10px 0 0 0;
}

.date-group{
  /* color: lightgrey; */
  /* height: 150%; */
  /* height: 1000px !importanmat; */
  /* padding-bottom: 0px !important; */
}

.date-group-header{
  color: #a8acaf;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

.each-message-time {
  /* color: rgb(179, 179, 179); */
  color: #a8acaf;
  font-size: 13PX;
  margin-left: 5px;
 
}
.each-message-time span {
  color: #2e417b;
  margin-left: -4px;
}

.each-message-time i{
  margin-left: -4px;
}
.span5 {
  text-decoration: underline;
}

.message-button {
  margin-bottom: 30px;
  cursor: pointer;
  color: rgb(237, 237, 237);
  background-color: rgb(32, 32, 32);
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
}

.div4 {
  margin: 0px auto;
}

.error-div {
  text-align: center;
  position: fixed;
  bottom: 40px;
  margin: 0px auto;
  position: fixed;
}

.errorMessage {
  color: red;
  padding: 10px 15px;
  display: none;
  font-weight: lighter;
  flex-wrap: wrap;
}

.messages-modal {
  width: 465px;
  margin-left: -7px;
  /* border-radius: 5px; */
  /* background: #181119; */
  background-color: #101417;
  /* padding-bottom: 300px; */
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100%;
  overflow: auto;
  padding-top: 80px;
  z-index: 0;
}

.messages-head {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #1c2023;
  top: 0px;
  width: 465.5px;
  padding-top: 30px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.mpesa-head {
  display: flex;
}
.bi-arrow-left {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 15px;
  color: #e9eaee;
}

.messages-profile-div{
  background-color: #303030;
  height: 35px;
  width: 35px;
  border-radius: 30px;
  display: flex;
  margin-right: 5px;
  margin-top: -2px !important;
}

.messages-profile{
  color: #8e908f;
  padding-left: 10px;
  padding-top: 6px;
}

.mpesa-word {
  margin-top: 3.5px;
  color: #ecf0f3;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
}

.bi-three-dots-vertical {
  color: #e9dfea;
  font-size: 25px;
  padding-right: 20px;
}

.message-modal-footer {
  position: fixed;
  padding: 20px 30px;
  bottom: 0px;
  background-color: #181c1f;
  width: 407px;
  color: #cdced2;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-left: -1px;
}
.p3 {
  margin: 0px;
}

.message-modal-footer-p {
  color: #99bfd2;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.to-messages {
  border-radius: 30px;
  border: 1px grey solid;
  padding: 10px 12px;
}


